.navbar.fixed-top {
  animation: navdown 0.5s ease-in;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
@keyframes navdown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
